<template>
<div>
    <select
        class="form-control"
        v-model="selected.character"
        @change="updateCharacterSelectedCache">
        <option 
            v-for="char_ of characters"
            :key="char_.name"
            :value="char_"
        >{{ char_.name }}</option>
    </select>
    <select
        class="form-control"
        v-model="selected.action"
        @change="updateCharacterSelectedCache">
        <option
            v-for="(act_, index) in selectableAction"
            :key="index"
            :value="index"
        >{{ act_.readable }}
        </option>
    </select>
    <!-- Defensive image -->
    <div
        v-if="activeAction">
        <ActionImage
            v-if="!actionType"
            :images="activeAction.images" />

        <!-- Offensive image (lol) -->
        <!-- Use action image for defense. -->
        <ActionImage
            v-else
            :images="[activeAction.images[0], activeAction.images[0]]" />
        <table class="table">
            <thead>
                <tr>
                    <th>Start up</th>
                    <!-- <th>Active</th> -->
                    <th>Recovery</th>
                    <!-- <th>Total Frames</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ activeAction.startUp }}</td>
                    <!-- <td>{{ activeAction.active }}</td> -->
                    <td>{{ activeAction.punishWindow }}</td>
                    <!-- <td>{{ activeAction.active + activeAction.punishWindow + activeAction.startUp }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>


<script lang="ts">
import Vue from 'vue'
import { PropType } from 'vue'
import { Action, Character } from "~/store/3rdStrike/trainer/interfaces";
import characterActions from "~/store/3rdStrike/trainer/characterActions";
import characters from '~/store/3rdStrike/characters';
import trainerState from '~/store/3rdStrike/trainer/state';


export default Vue.extend({
    computed: {
        activeAction: function(): Action {
            if(this.actionType) {
                trainerState.defense = this.selectableAction[this.selected.action]
                return trainerState.defense
            }
            trainerState.attack = this.selectableAction[this.selected.action]
            return trainerState.attack
        },
        selectableAction: function(): Action[] {
            let ret: Action[] = [];
            characterActions.forEach(action => {
                if(action.character.name === this.selected.character.name) {
                    ret.push(action);
                }
            })
            if(!ret.length) {
                alert("No available actions for " + this.selected.character.name + " yet.")
                // BUG: This can cause an infinite loop if something goes wrong?
                this.selected.character = characters.Alex;
                return this.selectableAction;
            }
            return ret;
        }
    },
    data() {
        return {
            characters: characters,
            selected: {
                action: 0,
                character: characterActions[0].character,
                cache: [] as Character[]
            }
        }
    },
    methods: {
        isMobile() {
            // TODO: implement mobile check.
        },
        updateCharacterSelectedCache: function(): void {
            this.selected.cache.push(this.selected.character);
            if(this.selected.cache.length > 2) {
                this.selected.cache.pop();
            }
        }
    },
    props: [
        // 0 - Offense
        // 1 - Defense
        "actionType"
    ]
})
</script>