<template>
    <div>
        <img
            style="height: 7em;"
            :src="require(`~/static/images/${imgSrc}`)">
    </div>
</template>


<script lang="ts">
import trainerState from "~/store/3rdStrike/trainer/state";
import { PropType } from 'vue';
import Vue from 'vue';


export default Vue.extend({
    name: "PersonalTrainer",
    props: {
        images: {
            type: Array as PropType<Array<string>>,
            default: ["", ""]
        }

    },
    computed: {
        imgSrc: function(): string {
            return trainerState.started ? this.images[0] : this.images[1];
        }
    },
    data() {
        return {
            trainerState: trainerState
        }
    },
    methods: {}
})
</script>