<template>
    <div>
        <img
            style="height: 7em;"
            :src="require(`~/static/images/${image}`)">
    </div>
</template>


<script lang="ts">
// import { PropType } from 'vue';
import Vue from 'vue';


export default Vue.extend({
    name: "PersonalTrainer",
    props: {
        image: {
            type: String,
            default: ""
        }

    },
    methods: {}
})
</script>