<template>
<div>
    <h4>Stats</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Success Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ defenseRate }}%</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Attempts (last 10)</h4>
    <table
        v-if="resultsReady"
        class="table table-striped">
        <thead>
            <tr>
                <th>Defended?</th>
                <th>Response Time (in frames)</th>
                <!-- <th>Precision</th> -->
                <th>Attack</th>
                <th>Defense</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(result_, index) in results.slice(0, 10)" :key="index">
                <td>{{ result_.teched ? "✅" : "❌" }}</td>
                <td>{{ result_.frames }}</td>
                <!-- <td>{{ result_.frameDiff }}</td> -->
                <td>{{ result_.attack }}</td>
                <td>{{ result_.defense }}</td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Result } from '~/store/3rdStrike/trainer/interfaces';
import results from "~/store/3rdStrike/trainer/results";



export default Vue.extend({
    computed: {
        defenseRate: function(): number {
            if(!this.results.length) {
                return 0;
            }
            let successCount = 0;
            this.results.forEach(res => {
                if(res.teched) {
                    successCount++
                }
            })
            return Math.round(successCount / this.results.length * 100);
        },
        resultsReady: function(): number {
            return this.results.length
        }
    },
    data() {
        return {
            results: results
        }
    }
})
</script>