<template>
<div>
    <button
        class="btn btn-primary btn-lg"
        @click="startTimer"
        :disabled="trialStarted || !canPunish.canPunish"
        >START</button>
    <button
        :class="canPunish.class"
        @click="techIt"
        :disabled="!canPunish.canPunish"
        >{{ canPunish.message }}</button>
    <button
        class="btn btn-warning btn-lg"
        @click="resetState"
        >RESET</button>
    <div>
        <label 
            class="form-label"
            for="inputDelaySlider">Adjust Defense Delay: <strong>{{ inputDelay }}</strong> frames</label>
        <input
            id="inputDelaySlider"
            class="form-control"
            @mouseenter="toggleSlider"
            @mouseleave="toggleSlider"
            v-model="inputDelay"
            type="range"
            min="0"
            max="25">
        <div v-if="sliderMoving">
            How many frames will it take you to react and input your defense.
        </div>
    </div>
    
</div>
</template>


<script lang="ts">
import Vue from 'vue';
import { PropType } from 'vue';
import { Result } from "~/store/3rdStrike/trainer/interfaces";
import { TrainerState } from "~/store/3rdStrike/trainer/state";
import trainerState from "~/store/3rdStrike/trainer/state";
import results from "~/store/3rdStrike/trainer/results";


interface canPunishState {
    class: string,
    message: string,
    canPunish: boolean
}


export default Vue.extend({
    props: {},
    data() {
        return {
            inputDelay: 0,
            intervalId: null as any,
            refreshRate: 59.583,
            results: results,
            sliderMoving: false,
            startTime: 0,
            trialStarted: false,
            defenseStartTimer: 0,
            totalTime: 0
        }
    },
    computed: {
        attackFrames: function(): number {
            return trainerState.attack.startUp + trainerState.attack.punishWindow;
        },
        attackTeched: function(): boolean {
            return this.framesPassed < this.attackFrames
        },
        canPunish: function(): canPunishState {
            if(trainerState.defense.punishWindow <= trainerState.attack.punishWindow) {
                return {
                    class: "btn btn-danger btn-lg",
                    message: "MASH!",
                    canPunish: true
                }
            }
            return {
                class: "btn btn-light btn-lg",
                message: "INVALID",
                canPunish: false
            }
        },
        frameDiff: function(): number {
            // REVIEW: Is that what you're really trying to caclulate.
            return this.framesPassed
            - (trainerState.attack.punishWindow - trainerState.defense.startUp)
        },
        framesPassed: function(): number {
            // Convert number of frames to frames per second after calculation
            return Math.round(this.totalTime / (this.refreshRate / 1000) / 1000)
                + +this.inputDelay
                + trainerState.defense.startUp;
        },
    },
    methods: {
        resetState: function(): void {
            trainerState.started = false;
            trainerState.ready = false;
            this.trialStarted = false;
            clearInterval(this.intervalId);
        },
        startTimer: function(): void{
            this.trialStarted = true;
            this.startTime = Date.now();
    
            // Wait time in milliseconds.
            // Between 3 - 5 seconds.
            let waitTime = Math.min(0.5, Math.max(0.3, Math.random())) * 10000;
    
            this.intervalId = setInterval(() => {
                if((Date.now() - this.startTime) > waitTime) {
                    if(!trainerState.ready) {
                        trainerState.started = true;
                        // Emulate attack frame startup
                        setTimeout(function(){}, trainerState.attack.startUp);

                        // Start defense timer
                        trainerState.ready = true;
                        this.defenseStartTimer = Date.now();
                    }
                }
            }, 1)
        },
        techIt: function() {
            if(!trainerState.ready) {
                alert("Teched too soon");
                this.resetState();
                return;
            }

            // Calculate millisecond response between trainerState.ready and now.
            this.totalTime = Date.now() - this.defenseStartTimer;

            // Reset state of timer.
            this.resetState();

            let result: Result = {
                frames: this.framesPassed,
                responseTime: this.totalTime,
                frameDiff: this.frameDiff,
                teched:  this.attackTeched,
                attack: trainerState.attack.readable,
                defense: trainerState.defense.readable
            }

            // Append to front of results table
            results.unshift(result);

        },
        toggleSlider: function(): void {
            this.sliderMoving = !this.sliderMoving;
        }
    },
})
</script>