<template>
<div class="container text-center">
    <h2>Reaction Trainer</h2>
    <div class="text-left">
        <strong>Attack</strong><br>
            <div style="padding-left:1em">
                Select an attack you would like to train against.
            </div>
        <strong>Defense</strong><br>
            <div style="padding-left:1em">
                Select the defense you want to train to respond with.
            </div>
        <strong>Adjust Defense Delay</strong><br>
            <div style="padding-left:1em">
                How many frames you expect to take to input defense.
            </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Attack</h3>
            <ActionSelect :actionType="false"/>
        </div>
        <div class="col-6">
            <h3>Defense</h3>
            <ActionSelect :actionType="true"/>
        </div>
    </div>
    <TrainerTimer />
    <Results />
</div>
</template>



<script lang="ts">
import Vue from "vue";
import trainerState from "~/store/3rdStrike/trainer/state";


export default Vue.extend({
    name: "ThrowTechTrainer",
    components: {},
    computed: {},
    data() {
        return {
            trainerState: trainerState
        }
    },
    methods: {},
    mounted: function() {}
});
</script>