<template>
  <div class="container text-center">
    <div class="btn-group">
      <button class="btn btn-primary" @click="toggleSweets">Order Sweets</button>
      <button class="btn btn-primary" @click="toggleResume">Resume</button>

    </div>
      <transition name="fade">
        <OrderSweets v-if="show.orderSweets" />
      </transition>
      <transition name="fade">
        <Resume v-if="show.resume" />
      </transition>
  </div>
</template>

<script>
import Vue from 'vue';


export default Vue.extend({
  name: "Homepage",
  data() {
    return {
      show: {
        orderSweets: false,
        resume: true
      }
    }
  },
  methods: {
    hideAll: function() {
      for(const [k, v] of Object.entries(this.show)) {
        this.show[k] = false;
      }
    },
    toggleResume: function() {
      this.hideAll();
      this.show.resume = true;
    },
    toggleSweets: function()  {
      this.hideAll();
      this.show.orderSweets = true;
    }
  }
})
</script>

<style scoped>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter-active  {
  transition-delay: .75s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
