<template>
<div class="container text-center">
    <h1>3rd Strike</h1>
    <Trainer />
    <Donate />
</div>
</template>



<script lang="ts">
import Vue from 'vue';


export default Vue.extend({
    computed: {},
    data() {
        return {}
    },
    head() {
        return {
            title: "Play 3rd Strike"
        }
    },
    methods: {},
    mounted: function() {}
});
</script>


<style>
body {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
</style>