<template>
    <div class="flex">
        <div
            v-for="item in itemsAvailable"
            v-bind:key=item
        >{{ item.name }}
        </div>
    </div>
</template>


<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: "OrderSweets",
    data() {
        return {
            itemsAvailable: [
                {name: 'Brownies'},
                {name: 'Chocolate Chip Cookies'}
            ]
        }
    }
})
</script>

<style scoped>
    .flex {
        display: flex;
        align-items: flex-start;
    }
</style>