<template>
    <div class="container">

        <!--  -->
        <div class="row">
            <div class="col-12">
                <h1
                    v-bind:id=infoElements.nameTitle
                >
                    <a
                        :href="personalInformation.linkedIn"
                        :title="personalInformation.name.title"
                        target="_"
                    >{{ personalInformation.name.name }}</a>
                </h1>
            </div>
            <div class="col-4">
                <a
                    :href="personalInformation.home.googleMaps"
                    target="_"
                    :title="personalInformation.home.title"
                >
                    {{ personalInformation.home.name }}
                </a>
            </div>
            <div class="col-4">
                {{ personalInformation.phone }}
            </div>
            <div class="col-4">
                <a
                    :href="mailToEmail"
                >{{ personalInformation.email }}</a>
            </div>
        </div>
        <div>
            <button
                class="btn btn-primary btn-lg btn-block"
                @click="show.experience = !show.experience"
            >Experience</button>
            <table
                class="table table-striped"
                v-if="show.experience"
            >
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="job in careerDetails.jobs"
                        v-bind:key="job"
                    >
                        <td>{{ job.title }}</td>
                        <td>{{ job.company }}</td>
                        <td>{{ job.startDate }}</td>
                        <td>{{ job.endDate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button
                class="btn btn-primary btn-lg btn-block"
                @click="show.education = !show.education"
            >Education</button>
            <table
                class="table table-striped"
                v-if="show.education"
            >
                <thead>
                    <tr>
                        <th scope="col">Institution</th>
                        <th scope="col">School</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="_entry in careerDetails.education"
                        v-bind:key="_entry"
                    >
                        <td>{{ _entry.institution }}</td>
                        <td>{{ _entry.major }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button
                class="btn btn-primary btn-lg btn-block"
                @click="show.skills = !show.skills"
            >What I'm Good At</button>
            <table
                class="table table-striped"
                v-if="show.skills"
            >
                <thead>
                    <tr>
                        <th scope="col">Skill</th>
                        <th scope="col">Proficiency</th>
                        <th 
                            title="Years of Experience"
                            scope="col">YOP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="_entry in careerDetails.skills"
                        v-bind:key="_entry"
                    >
                        <td>{{ _entry.name }}</td>
                        <td>{{ _entry.proficiency }}</td>
                        <td>{{ _entry.yearsOfExperience }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>


<script>
import Vue from 'vue';
import { education, jobs, skills } from '~/store/homepage/resume';


export default Vue.extend({
    name: "Resume",
    computed: {
        mailToEmail: function() {
            return `mailto:` + this.email;
        }
    },
    data() {
        return {
            infoElements: {
                nameTitle: 'nameTitle'
            },
            personalInformation: {
                email: "qholness@gmail.com",
                home: {
                    googleMaps: "https://www.google.com/maps/place/San+Antonio,+TX/@29.4813572,-98.6544879,11z/data=!3m1!4b1!4m5!3m4!1s0x865c58af04d00eaf:0x856e13b10a016bc!8m2!3d29.4241219!4d-98.4936282",
                    name: "San Antonio, Texas",
                    title: "Google Maps - San Antonio",
                },
                linkedIn: "https://www.linkedin.com/in/quentin-holness-2543961a7",
                name: {
                    name: "Quentin Holness",
                    title: "LinkedIn"
                },
                phone: "773.971.8346",

            },
            careerDetails: {
                education: education,
                jobs: jobs,
                skills: skills
            },
            show: {
                education: false,
                experience: true,
                skills: false
            },
        }
    },

    props: {}
})
</script>

<style scoped>
    .flex {
        display: flex;
        align-items: flex-start;
    }
    #jobsTable {
        align-content: center;
    }
    #nameTitle {
        text-align: center;
    }
</style>